USE [master]
GO
/****** Object:  Database [Stock]    Script Date: 04/10/2026 12:03:23 ******/
CREATE DATABASE [Stock]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Stock', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Stock.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Stock_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Stock_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Stock].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Stock]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 04/10/2026 12:03:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[id_client] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](100) NULL,
	[sexe] [varchar](10) NULL,
	[ville] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Commandes]    Script Date: 04/10/2026 12:03:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commandes](
	[id_commande] [int] IDENTITY(1,1) NOT NULL,
	[id_client] [int] NULL,
	[id_employe] [int] NULL,
	[date_commande] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_commande] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Details_Commandes]    Script Date: 04/10/2026 12:03:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Details_Commandes](
	[id_detail] [int] IDENTITY(1,1) NOT NULL,
	[id_commande] [int] NULL,
	[id_produit] [int] NULL,
	[quantite] [int] NULL,
	[prix_unitaire] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employes]    Script Date: 04/10/2026 12:03:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employes](
	[id_employe] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](100) NOT NULL,
	[fonction] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_employe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[produit]    Script Date: 04/10/2026 12:03:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produit](
	[id_produit] [int] IDENTITY(1,1) NOT NULL,
	[nom_produit] [varchar](100) NULL,
	[categorie] [varchar](100) NULL,
	[prix] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_produit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Commandes]  WITH CHECK ADD FOREIGN KEY([id_client])
REFERENCES [dbo].[Clients] ([id_client])
GO
ALTER TABLE [dbo].[Commandes]  WITH CHECK ADD FOREIGN KEY([id_employe])
REFERENCES [dbo].[Employes] ([id_employe])
GO
ALTER TABLE [dbo].[Details_Commandes]  WITH CHECK ADD FOREIGN KEY([id_commande])
REFERENCES [dbo].[Commandes] ([id_commande])
GO
ALTER TABLE [dbo].[Details_Commandes]  WITH CHECK ADD FOREIGN KEY([id_produit])
REFERENCES [dbo].[produit] ([id_produit])
GO
USE [master]
GO
